// Name:            Icon
// Description:     Defines styles for icons
//
// Adapted from http://fortawesome.github.com/Font-Awesome (Version 4.6.0)
//
// Component:       `uk-icon-*`
//
// Sub-objects:     `uk-icon-hover`
//                  `uk-icon-button`
//
// Modifiers:       `uk-icon-small`
//                  `uk-icon-medium`
//                  `uk-icon-large`
//                  `uk-icon-justify`
//                  `uk-icon-spin`
//
// Uses:            Animation
//
// ========================================================================


// Variables
// ========================================================================

$icon-small-font-size:                           150% !default;
$icon-medium-font-size:                          200% !default;
$icon-large-font-size:                           250% !default;

$icon-small-vertical-align:                      -10% !default;
$icon-medium-vertical-align:                     -16% !default;
$icon-large-vertical-align:                      -22% !default;

$icon-hover-color:                               #999 !default;
$icon-hover-hover-color:                         #444 !default;

$icon-button-width:                              35px !default;
$icon-button-height:                             $icon-button-width !default;
$icon-button-border-radius:                      100% !default;
$icon-button-background:                         #eee !default;
$icon-button-font-size:                          round(($icon-button-width * 0.5)) !default;
$icon-button-color:                              #444 !default;

$icon-button-hover-background:                   #f5f5f5 !default;
$icon-button-hover-color:                        #444 !default;

$icon-button-active-background:                  #ddd !default;
$icon-button-active-color:                       #444 !default;


/* ========================================================================
   Component: Icon
 ========================================================================== */


/* Size modifiers
 ========================================================================== */

.uk-icon-small {
    font-size: $icon-small-font-size;
    vertical-align: $icon-small-vertical-align;
}

.uk-icon-medium {
    font-size: $icon-medium-font-size;
    vertical-align: $icon-medium-vertical-align;
}

.uk-icon-large {
    font-size: $icon-large-font-size;
    vertical-align: $icon-large-vertical-align;
}


/* Modifier: `uk-icon-justify`
 ========================================================================== */

.uk-icon-justify {
    width: 1em;
    text-align: center;
}


/* Modifier: `uk-icon-spin`
 ========================================================================== */

.uk-icon-spin {
    display: inline-block;
    -webkit-animation: uk-rotate 2s infinite linear;
    animation: uk-rotate 2s infinite linear;
}


/* Modifier: `uk-icon-hover`
 ========================================================================== */

.uk-icon-hover {
    color: $icon-hover-color;
    @include hook-icon-hover();
}

/*
 * Hover
 */

.uk-icon-hover:hover {
    color: $icon-hover-hover-color;
    @include hook-icon-hover-hover();
}


/* Modifier: `uk-icon-button`
 ========================================================================== */

.uk-icon-button {
    box-sizing: border-box;
    display: inline-block;
    width: $icon-button-width;
    height: $icon-button-height;
    border-radius: $icon-button-border-radius;
    background: $icon-button-background;
    line-height: $icon-button-height;
    color: $icon-button-color;
    font-size: $icon-button-font-size;
    text-align: center;
    @include hook-icon-button();
}

/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */

.uk-icon-button:hover,
.uk-icon-button:focus { // 1
    background-color: $icon-button-hover-background;
    color: $icon-button-hover-color;
    /* 2 */
    outline: none;
    @include hook-icon-button-hover();
}

/* Active */
.uk-icon-button:active {
    background-color: $icon-button-active-background;
    color: $icon-button-active-color;
    @include hook-icon-button-active();
}


// Hooks
// ========================================================================

@include hook-icon-misc();

// @mixin hook-icon-hover(){}
// @mixin hook-icon-hover-hover(){}
// @mixin hook-icon-button(){}
// @mixin hook-icon-button-hover(){}
// @mixin hook-icon-button-active(){}
// @mixin hook-icon-misc(){}
