
.woocommerce-bacs-bank-details {
	
	text-align: center;
	
	.wc-bacs-bank-details-heading {
		
		font-size: $base-h3-font-size;
		line-height: $base-h3-line-height;
		
		@include hook-base-h3();
		
		@media ( max-width: $gm_media-small-max ) {
			
			font-size: $gm_h3-font-size-small;
		}
	}
	
	.wc-bacs-bank-details-account-name {
		
		font-size: $base-h5-font-size;
		line-height: $base-h5-line-height;
		
		@include hook-base-h5();
	}
	
	ul.wc-bacs-bank-details {
		
		display: table;
		list-style: none;
		padding: 0;
		margin: 0 auto;
		
		text-align: left;
	}
}