
body.woocommerce-lost-password .gm_woo-notices-wrapper {
	
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.gm_woo-myaccount-reset-password {
	
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	
	&, .uk-form-field { text-align: center; }
	
	&__info {
		
		margin-bottom: $gm_offset-small;
		font-size: $gm_medium-font-size;
	}
}