
.uk-button {
	
	i { line-height: 1; }
	
	* + * { margin-left: $gm_offset-mini; }
}

.uk-button-mini { border-radius: $button-mini-radius; }
.uk-button-small { border-radius: $button-small-radius; }
.uk-button-large { border-radius: $button-large-radius; }

.uk-button-icon { padding: 0; width: $button-height; font-size: $button-icon-font-size; }

.uk-button-icon-mini { @extend .uk-button-mini; width: $button-mini-height; font-size: $button-icon-mini-font-size; }
.uk-button-icon-small { @extend .uk-button-small; width: $button-small-height; font-size: $button-icon-small-font-size; }
.uk-button-icon-large { @extend .uk-button-large; width: $button-large-height; font-size: $button-icon-large-font-size; }



// Button Secondary

.uk-button-secondary {
	
    background-color: $button-secondary-background;
    color: $button-secondary-color;
    border-color: $button-secondary-border-color;
	box-shadow: $button-secondary-shadow;

	&:hover, &:focus {
		
	    background-color: $button-secondary-hover-background;
	    color: $button-secondary-hover-color;
	    border-color: $button-secondary-hover-border-color;
		box-shadow: $button-secondary-hover-shadow;
	}

	&:active, &.uk-active {
		
		background-color: $button-secondary-active-background;
		color: $button-secondary-active-color;
	    border-color: $button-secondary-active-border-color;
		box-shadow: $button-secondary-active-shadow;
	}
}

// END Button Secondary


// Button Secondary Invert

.uk-button-secondary-invert {
	
    background-color: $button-secondary-invert-background;
    color: $button-secondary-invert-color;
    border-color: $button-secondary-invert-border-color;
	box-shadow: $button-secondary-invert-shadow;

	&:hover, &:focus {
		
	    background-color: $button-secondary-invert-hover-background;
	    color: $button-secondary-invert-hover-color;
	    border-color: $button-secondary-invert-hover-border-color;
		box-shadow: $button-secondary-invert-hover-shadow;
	}

	&:active, &.uk-active {
		
		background-color: $button-secondary-invert-active-background;
		color: $button-secondary-invert-active-color;
	    border-color: $button-secondary-invert-active-border-color;
		box-shadow: $button-secondary-invert-active-shadow;
	}
}

// END Button Secondary Invert



// Button Dark

.uk-button-dark {
	
    background-color: $button-dark-background;
    color: $button-dark-color;
    border-color: $button-dark-border-color;
	box-shadow: $button-dark-shadow;

	&:hover, &:focus {
		
	    background-color: $button-dark-hover-background;
	    color: $button-dark-hover-color;
	    border-color: $button-dark-hover-border-color;
		box-shadow: $button-dark-hover-shadow;
	}

	&:active, &.uk-active {
		
		background-color: $button-dark-active-background;
		color: $button-dark-active-color;
	    border-color: $button-dark-active-border-color;
		box-shadow: $button-dark-active-shadow;
	}
}

// END Button Dark


// Button Dark Invert

.uk-button-dark-invert {
	
    background-color: $button-dark-invert-background;
    color: $button-dark-invert-color;
    border-color: $button-dark-invert-border-color;
	box-shadow: $button-dark-invert-shadow;

	&:hover, &:focus {
		
	    background-color: $button-dark-invert-hover-background;
	    color: $button-dark-invert-hover-color;
	    border-color: $button-dark-invert-hover-border-color;
		box-shadow: $button-dark-invert-hover-shadow;
	}

	&:active, &.uk-active {
		
		background-color: $button-dark-invert-active-background;
		color: $button-dark-invert-active-color;
	    border-color: $button-dark-invert-active-border-color;
		box-shadow: $button-dark-invert-active-shadow;
	}
}

// END Button Dark Invert



// Button Primary Invert

.uk-button-primary-invert {
	
    background-color: $button-primary-invert-background;
    color: $button-primary-invert-color;
    border-color: $button-primary-invert-border-color;
	box-shadow: $button-primary-invert-shadow;

	&:hover, &:focus {
		
	    background-color: $button-primary-invert-hover-background;
	    color: $button-primary-invert-hover-color;
	    border-color: $button-primary-invert-hover-border-color;
		box-shadow: $button-primary-invert-hover-shadow;
	}

	&:active, &.uk-active {
		
		background-color: $button-primary-invert-active-background;
		color: $button-primary-invert-active-color;
	    border-color: $button-primary-invert-active-border-color;
		box-shadow: $button-primary-invert-active-shadow;
	}
}

// END Button Primary Invert



.uk-contrast {
	
	// Button Contrast Secondary
	
	.uk-button-secondary {
		
	    background-color: $contrast-button-secondary-background;
	    color: $contrast-button-secondary-color;
	    border-color: $contrast-button-secondary-border-color;
		box-shadow: $contrast-button-secondary-shadow;
	
		&:hover, &:focus {
			
		    background-color: $contrast-button-secondary-hover-background;
		    color: $contrast-button-secondary-hover-color;
		    border-color: $contrast-button-secondary-hover-border-color;
			box-shadow: $contrast-button-secondary-hover-shadow;
		}
	
		&:active, &.uk-active {
			
			background-color: $contrast-button-secondary-active-background;
			color: $contrast-button-secondary-active-color;
		    border-color: $contrast-button-secondary-active-border-color;
			box-shadow: $contrast-button-secondary-active-shadow;
		}
	}
	
	// END Button Contrast Secondary
	
	
	// Button Contrast Secondary Invert
	
	.uk-button-secondary-invert {
		
	    background-color: $contrast-button-secondary-invert-background;
	    color: $contrast-button-secondary-invert-color;
	    border-color: $contrast-button-secondary-invert-border-color;
		box-shadow: $contrast-button-secondary-invert-shadow;
	
		&:hover, &:focus {
			
		    background-color: $contrast-button-secondary-invert-hover-background;
		    color: $contrast-button-secondary-invert-hover-color;
		    border-color: $contrast-button-secondary-invert-hover-border-color;
			box-shadow: $contrast-button-secondary-invert-hover-shadow;
		}
	
		&:active, &.uk-active {
			
			background-color: $contrast-button-secondary-invert-active-background;
			color: $contrast-button-secondary-invert-active-color;
		    border-color: $contrast-button-secondary-invert-active-border-color;
			box-shadow: $contrast-button-secondary-invert-active-shadow;
		}
	}
	
	// END Button Contrast Secondary Invert
	
	
	
	// Button Contrast Dark
	
	.uk-button-dark {
		
	    background-color: $contrast-button-dark-background;
	    color: $contrast-button-dark-color;
	    border-color: $contrast-button-dark-border-color;
		box-shadow: $contrast-button-dark-shadow;
	
		&:hover, &:focus {
			
		    background-color: $contrast-button-dark-hover-background;
		    color: $contrast-button-dark-hover-color;
		    border-color: $contrast-button-dark-hover-border-color;
			box-shadow: $contrast-button-dark-hover-shadow;
		}
	
		&:active, &.uk-active {
			
			background-color: $contrast-button-dark-active-background;
			color: $contrast-button-dark-active-color;
		    border-color: $contrast-button-dark-active-border-color;
			box-shadow: $contrast-button-dark-active-shadow;
		}
	}
	
	// END Button Contrast Dark
	
	
	// Button Contrast Dark Invert
	
	.uk-button-dark-invert {
		
	    background-color: $contrast-button-dark-invert-background;
	    color: $contrast-button-dark-invert-color;
	    border-color: $contrast-button-dark-invert-border-color;
		box-shadow: $contrast-button-dark-invert-shadow;
	
		&:hover, &:focus {
			
		    background-color: $contrast-button-dark-invert-hover-background;
		    color: $contrast-button-dark-invert-hover-color;
		    border-color: $contrast-button-dark-invert-hover-border-color;
			box-shadow: $contrast-button-dark-invert-hover-shadow;
		}
	
		&:active, &.uk-active {
			
			background-color: $contrast-button-dark-invert-active-background;
			color: $contrast-button-dark-invert-active-color;
		    border-color: $contrast-button-dark-invert-active-border-color;
			box-shadow: $contrast-button-dark-invert-active-shadow;
		}
	}
	
	// END Button Contrast Dark Invert
	
	
	
	// Button Contrast Primary Invert

	.uk-button-primary-invert {
		
	    background-color: $contrast-button-primary-invert-background;
	    color: $contrast-button-primary-invert-color;
	    border-color: $contrast-button-primary-invert-border-color;
		box-shadow: $contrast-button-primary-invert-shadow;
	
		&:hover, &:focus {
			
		    background-color: $contrast-button-primary-invert-hover-background;
		    color: $contrast-button-primary-invert-hover-color;
		    border-color: $contrast-button-primary-invert-hover-border-color;
			box-shadow: $contrast-button-primary-invert-hover-shadow;
		}
	
		&:active, &.uk-active {
			
			background-color: $contrast-button-primary-invert-active-background;
			color: $contrast-button-primary-invert-active-color;
		    border-color: $contrast-button-primary-invert-active-border-color;
			box-shadow: $contrast-button-primary-invert-active-shadow;
		}
	}
	
	// END Button Contrast Primary Invert
	
	
	
	// Button Contrast Success
	
	.uk-button-success {
		
	    background-color: $button-success-background;
	    color: $button-success-color;
	    
	    @include hook-button-success ();
		
		&:hover, &:focus {
			
		    background-color: $button-success-hover-background;
		    color: $button-success-hover-color;
		    
		    @include hook-button-success-hover();
		}
		
		&:active, &.uk-active {
			
		    background-color: $button-success-active-background;
		    color: $button-success-active-color;
		    
		    @include hook-button-success-active();
		}
	}
	
	// END Button Contrast Success
	
	
	
	// Button Contrast Danger
	
	.uk-button-danger {
		
	    background-color: $button-danger-background;
	    color: $button-danger-color;
	    
	    @include hook-button-danger ();
	
		&:hover, &:focus {
			
		    background-color: $button-danger-hover-background;
		    color: $button-danger-hover-color;
		    
		    @include hook-button-danger-hover();
		}
		
		&:active, &.uk-active {
			
		    background-color: $button-danger-active-background;
		    color: $button-danger-active-color;
		    
		    @include hook-button-danger-active();
		}
	}
	
	// END Button Contrast Danger
	
	
	
	// Button Contrast Link
	
	.uk-button-link {
		
		color: $contrast-button-link-color;
		
		&:hover, &:focus, &:active, &.uk-active {color: $contrast-button-link-hover-color; } 
	}
	
	// END Button Contrast Link
}


.uk-contrast-reset { 
	
	// Button Default
	
	.uk-button {
		
	    color: $button-color;
	    background: $button-background;
	    
	    @include hook-button();
	
		&:hover, &:focus {
			
		    background-color: $button-hover-background;
		    color: $button-hover-color;
		    
		    @include hook-button-hover();
		}
		
		&:active, &.uk-active {
			
		    background-color: $button-active-background;
		    color: $button-active-color;
		    
		    @include hook-button-active();
		}
	}
	
	// END Button Default
	
	
	
	// Button Secondary
	
	.uk-button-secondary {
		
	    background-color: $button-secondary-background;
	    color: $button-secondary-color;
	    border-color: $button-secondary-border-color;
		box-shadow: $button-secondary-shadow;
	
		&:hover, &:focus {
			
		    background-color: $button-secondary-hover-background;
		    color: $button-secondary-hover-color;
		    border-color: $button-secondary-hover-border-color;
			box-shadow: $button-secondary-hover-shadow;
		}
	
		&:active, &.uk-active {
			
			background-color: $button-secondary-active-background;
			color: $button-secondary-active-color;
		    border-color: $button-secondary-active-border-color;
			box-shadow: $button-secondary-active-shadow;
		}
	}
	
	// END Button Secondary
	
	
	// Button Secondary Invert
	
	.uk-button-secondary-invert {
		
	    background-color: $button-secondary-invert-background;
	    color: $button-secondary-invert-color;
	    border-color: $button-secondary-invert-border-color;
		box-shadow: $button-secondary-invert-shadow;
	
		&:hover, &:focus {
			
		    background-color: $button-secondary-invert-hover-background;
		    color: $button-secondary-invert-hover-color;
		    border-color: $button-secondary-invert-hover-border-color;
			box-shadow: $button-secondary-invert-hover-shadow;
		}
	
		&:active, &.uk-active {
			
			background-color: $button-secondary-invert-active-background;
			color: $button-secondary-invert-active-color;
		    border-color: $button-secondary-invert-active-border-color;
			box-shadow: $button-secondary-invert-active-shadow;
		}
	}
	
	// END Button Secondary Invert
	
	
	
	// Button Dark
	
	.uk-button-dark {
		
	    background-color: $button-dark-background;
	    color: $button-dark-color;
	    border-color: $button-dark-border-color;
		box-shadow: $button-dark-shadow;
	
		&:hover, &:focus {
			
		    background-color: $button-dark-hover-background;
		    color: $button-dark-hover-color;
		    border-color: $button-dark-hover-border-color;
			box-shadow: $button-dark-hover-shadow;
		}
	
		&:active, &.uk-active {
			
			background-color: $button-dark-active-background;
			color: $button-dark-active-color;
		    border-color: $button-dark-active-border-color;
			box-shadow: $button-dark-active-shadow;
		}
	}
	
	// END Button Dark
	
	
	// Button Dark Invert
	
	.uk-button-dark-invert {
		
	    background-color: $button-dark-invert-background;
	    color: $button-dark-invert-color;
	    border-color: $button-dark-invert-border-color;
		box-shadow: $button-dark-invert-shadow;
	
		&:hover, &:focus {
			
		    background-color: $button-dark-invert-hover-background;
		    color: $button-dark-invert-hover-color;
		    border-color: $button-dark-invert-hover-border-color;
			box-shadow: $button-dark-invert-hover-shadow;
		}
	
		&:active, &.uk-active {
			
			background-color: $button-dark-invert-active-background;
			color: $button-dark-invert-active-color;
		    border-color: $button-dark-invert-active-border-color;
			box-shadow: $button-dark-invert-active-shadow;
		}
	}
	
	// END Button Dark Invert
	
	
	
	// Button Primary
	
	.uk-button-primary {
		
	    background-color: $button-primary-background;
	    color: $button-primary-color;
	    
	    @include hook-button-primary();
	
		&:hover, &:focus {
			
		    background-color: $button-primary-hover-background;
		    color: $button-primary-hover-color;
		    
		    @include hook-button-primary-hover();
		}
		
		
		&:active, &.uk-active {
			
		    background-color: $button-primary-active-background;
		    color: $button-primary-active-color;
		    
		    @include hook-button-primary-active();
		}
	}
	
	// END Button Primary
	
	
	// Button Primary Invert
	
	.uk-button-primary-invert {
		
	    background-color: $button-primary-invert-background;
	    color: $button-primary-invert-color;
	    border-color: $button-primary-invert-border-color;
		box-shadow: $button-primary-invert-shadow;
	
		&:hover, &:focus {
			
		    background-color: $button-primary-invert-hover-background;
		    color: $button-primary-invert-hover-color;
		    border-color: $button-primary-invert-hover-border-color;
			box-shadow: $button-primary-invert-hover-shadow;
		}
	
		&:active, &.uk-active {
			
			background-color: $button-primary-invert-active-background;
			color: $button-primary-invert-active-color;
		    border-color: $button-primary-invert-active-border-color;
			box-shadow: $button-primary-invert-active-shadow;
		}
	}
	
	// END Button Primary Invert
	
	
	
	// Button Success
	
	.uk-button-success {
		
	    background-color: $button-success-background;
	    color: $button-success-color;
	    
	    @include hook-button-success();
	
		&:hover, &:focus {
			
		    background-color: $button-success-hover-background;
		    color: $button-success-hover-color;
		    
		    @include hook-button-success-hover();
		}
		
		
		&:active, &.uk-active {
			
		    background-color: $button-success-active-background;
		    color: $button-success-active-color;
		    
		    @include hook-button-success-active();
		}
	}
	
	// END Button Success
	
	
	
	// Button Danger
	
	.uk-button-danger {
		
	    background-color: $button-danger-background;
	    color: $button-danger-color;
	    
	    @include hook-button-danger();
		
		&:hover, &:focus {
			
		    background-color: $button-danger-hover-background;
		    color: $button-danger-hover-color;
		    
		    @include hook-button-danger-hover();
		}
		
		&:active, &.uk-active {
			
		    background-color: $button-danger-active-background;
		    color: $button-danger-active-color;
		    
		    @include hook-button-danger-active();
		}
	}
	
	// END Button Danger
	
	
	
	// Button Link
	
	.uk-button-link {
	
		&, &:hover, &:focus, &:active, &.uk-active, &:disabled { @include hook-button-link(); }
		
		color: $button-link-color;
	
		&:hover, &:focus, &:active, &.uk-active { color: $button-link-hover-color; }
		&:disabled { color: $button-link-disabled-color; }
	}
	
	// END Button Link

}