
.gm_invoices {
	
	.gm_table-list {
		
	}
	
	
	&__restaurant {
		
		display: flex;
		flex-wrap: wrap;
		
		&-media { width: 40px; }
		
		&-media img {
			
			width: 100%;
			height: 40px;
			object-fit: cover;
			
			border-radius: $gm_base-radius;
		}
		
		&-title {
			
			width: calc(100% - 40px);
			margin: 0;
			padding-top: 0.35em;
			padding-left: $gm_offset-small;
			box-sizing: border-box;
			
			font-size: $gm_h6-font-size;
			line-height: $gm_h6-line-height;
		}
	}
	
	
	&__status {
		
		min-width: 90px;
		padding: $gm_offset-nano $gm_offset-mini;
		box-sizing: border-box;
		
		font-size: $gm_small-font-size;
		text-align: center;
		text-transform: uppercase;
		background: $gm_border-color;
		border-radius: 999px;
		
		&--pending  { color: white; background-color: $gm_warning-color; }
		&--verified { color: white; background-color: $gm_success-color; }
		&--paid     { color: white; background-color: $gm_success-color; }
	}
	
	
}