
.gm_invoices {
	
	.gm_table-list {
		
		&__body .gm_table-list__row {
			
			background: white;
			transition: $gm_transition-default;
			transform-origin: center center;
			
			&:hover {
				
				transform: scale(1.04);
				box-shadow: $gm_medium-box-shadow;
				z-index: 2;
			}
		}
		
		&__cell {
		
			&--id         { width: 8%; }
			&--restaurant { width: 25%; }
			&--status     { width: 10%; }
			&--srart-date { width: 10%; }
			&--end-date   { width: 10%; }
			&--total      { width: 10%; }
			&--fees       { width: 9%; }
			&--transfer   { width: 10%; }
			&--orders     { width: 8%; }
			
			&--download   { width: 55px; text-align: center; }
		}
		
		&__cell-group--global { width: calc( 100% - 55px - #{$gm_offset-small * 2 + $gm_form-toggler-size} ); }
	}
	
	
	
	&__restaurant {
		
		display: flex;
		flex-wrap: wrap;
		
		&-media { width: 40px; }
		
		&-media img {
			
			width: 100%;
			height: 40px;
			object-fit: cover;
			
			border-radius: $gm_base-radius;
		}
		
		&-title {
			
			width: calc(100% - 40px);
			margin: 0;
			padding-top: 0.35em;
			padding-left: $gm_offset-small;
			box-sizing: border-box;
			
			font-size: $gm_h6-font-size;
			line-height: $gm_h6-line-height;
		}
	}
	
	
	
	&__status {
		
		display: inline-block;
		min-width: 90px;
		padding: $gm_offset-nano $gm_offset-mini;
		box-sizing: border-box;
		
		font-size: $gm_small-font-size;
		text-align: center;
		text-transform: uppercase;
		background: $gm_border-color;
		border-radius: 999px;
		
		&--pending  { color: white; background-color: $gm_warning-color; }
		&--verified { color: white; background-color: $gm_success-color; }
		&--paid     { color: white; background-color: $gm_success-color; }
	}
	
	
	
	&__download-link {
		
		font-size: $gm_medium-font-size;
		color: $gm_primary-color;
		text-decoration: none !important;
		
		&:before {
			
			content: $gm_fa-cloud-download-alt;
			font-family: $gm_fa;
			font-weight: $gm_fa-solid-style;
		}
		
		&:hover { color: $gm_primary-muted-color; }
	}
	
}