
.gm_blog-list__items > div + div { margin-top: $gm_offset-default; }

.gm_blog-list-item {
	
	&__image {
		display: block;
		position: relative;
		z-index: 1;
		padding-top: 60%;
		overflow: hidden;
		border-radius: $gm_base-radius; 
		
		img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			object-fit: cover;
		}
	}
}