
.gm_woo-cart-form {
	
	position: relative;
	z-index: 1;
	
	.gm_table-list {
		
		&__body { border: none; }
		&__body .gm_table-list__row {
			
			border: none;
			border-radius: $gm_base-radius;
			background: white;
			box-shadow: $gm_medium-box-shadow;
			transition: $gm_transition-default;
			
			&:hover { box-shadow: $gm_large-box-shadow; }
			
			& + .gm_table-list__row { margin-top: $gm_offset-small; }
		}
		
		&__cell {
				
			&--product-thumbnail { width: 150px; }
			&--product-name      { width: calc( 100% - 150px - 350px ); }
			&--product-price     { width: 100px; }
			&--product-quantity  { width: 80px; }
			&--product-subtotal  { width: 160px; }
		}
		
		&__cell-group--data { width: 350px; }
		
		&__actions { margin-top: $gm_offset-default; }
		
		.gm_woo-quantity__input {
			
			width: 100%;
			height: $form-small-height;
			padding: $form-small-padding;
			font-size: $form-small-font-size;
			border-radius: $form-small-radius;
		}
		
		
		@media ( max-width: $gm_media-small-max ) and ( min-width: 601px ) {
			
			&__row {
				
				min-height: 150px - (150px / 100 * 90);
				padding-left: $gm_offset-mini + 150px;
				padding-right: $gm_offset-mini * 2 + 24px;
			}
			
			&__cell--product-thumbnail {
				
				position: absolute;
				top: $gm_offset-small;
				left: $gm_offset-mini;
			}
			
		}
		
		@media ( max-width: $gm_media-small-max ) {
			
			margin-top: $gm_offset-medium;
			
			
			&__head { display: none; }
			
			
			&__cell {
				
				&--product-name      { width: 100%; }
				&--product-price     { width: 100%; }
				&--product-quantity  { width: 100%; }
				&--product-subtotal  { width: 100%; }
				
				&[data-title] {
					
					display: flex;
					flex-wrap: wrap;
					margin-top: $gm_offset-mini;
					
					&:before {
						
						display: block;
						width: 120px;
						content: attr(data-title) ":";
						color: $gm_muted-color;
					}
					
					> * { width: calc( 100% - 120px ); }
					
				}
			}
			
			&__cell-group--data  { width: 100%; }
			
			.gm_woo-quantity__input { width: 64px; }
		}
		
		@media ( max-width: 600px ) {
			
			&__cell--product-thumbnail { width: 100%; margin-bottom: $gm_offset-small; }
		}
		
		@media ( max-width: 400px ) {
			
			&__cell { text-align: center; }
			
			&__cell[data-title] {
				
				flex-direction: column;
				align-items: center;
				text-align: center;
				
				&:before, > * { width: auto; }
			}
			
			.gm_woo-cart-form-product__quanity { margin-top: $gm_offset-micro; }
		}
		
	}
	
	
	
	&__product-remove {
		
		position: absolute;
		top: $gm_offset-mini;
		right: $gm_offset-mini;
		z-index: 1;
	}
	
	&__product-remove-link {
		
		display: block;
		
		&:hover, &:focus { background: $gm_danger-color; }
	}
	
	
	
	&__actions {
		
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		
		&--with-coupons {
			
			justify-content: space-between;
			
			@media ( max-width: 860px ) {
				
				flex-direction: column;
				align-items: center;
				
				> * + * { margin-top: $gm_offset-medium; }
			}
		}
	}
	
	
	
	&__coupon {
		
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		
		margin-top: -$gm_offset-mini;
		margin-left: -$gm_offset-mini;
		
		> * { margin-top: $gm_offset-mini !important; margin-left: $gm_offset-mini !important; }	
		
		&-input { width: 200px; }
		
		@media ( max-width: 600px ) {
			
			flex-direction: column;
			
			&-input { text-align: center; }
		}
	}
}